<ion-header>
  <ion-toolbar>
    <ion-title>
      Météo à {{weather?.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="weather !== null; else loading">
    <img style="width: 150px;" src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}.png" />
    <ion-card-header>
      <ion-card-subtitle>{{weather.weather[0].description}}</ion-card-subtitle>
      <ion-card-title>{{weather.weather[0].main}}</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="thermometer" slot="start"></ion-icon>
      <ion-label>{{weather.main.temp}} °C</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="sunny" slot="start"></ion-icon>
      <ion-label>{{weather.sys.sunrise | hour}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="moon" slot="start"></ion-icon>
      <ion-label>{{weather.sys.sunset | hour}}</ion-label>
    </ion-item>
  </ion-card>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>



</ion-content>